service: better-sqlite3-lambda-layer
frameworkVersion: ">=1.34.0 <2.0.0"

provider:
  name: aws
  runtime: nodejs12.x
  memorySize: 128
  logRetentionInDays: 14

package:
  exclude:
    - node_modules/**
    - build/**
  
  
functions:
  example:
    handler: example/handler.hello
    description: An example of how to use the better-sqlite3 Lambda layer
    layers: 
      - {Ref: BetterSqlite3LambdaLayer}
    

layers:
  BetterSqlite3:
    path: layer
    description: A Layer to provide fast SQLite support in node.js Lambda functions using better-sqlite3
    compatibleRuntimes:
      - nodejs12.x
    allowedAccounts:
      - '*'
    
